docker-projects/n8n/plex_media_workflows/media_library_workflow.json
{
  "name": "Media Library Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8181/api/v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Xr9UEqUarIPJUr0DkwndQDWihtSxXQlK"
            },
            {
              "name": "cmd",
              "value": "get_libraries"
            }
          ]
        },
        "options": {}
      },
      "id": "get-tautulli-libraries",
      "name": "Get Plex Libraries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8989/api/v3/series",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "6e88db56c704442b9eb1d3f65e5f8d79"
            }
          ]
        },
        "options": {}
      },
      "id": "get-sonarr-series",
      "name": "Get Sonarr Series",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:7878/api/v3/movie",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "4c45340702c4488abee858fa4633639e"
            }
          ]
        },
        "options": {}
      },
      "id": "get-radarr-movies",
      "name": "Get Radarr Movies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:9696/api/v1/indexer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "4b01f5ebd9f940719e5fc927fc5282c7"
            }
          ]
        },
        "options": {}
      },
      "id": "get-prowlarr-indexers",
      "name": "Get Prowlarr Indexers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 800]
    },
    {
      "parameters": {
        "jsCode": "// Process Tautulli/Plex library data\nconst input = $input.first().json;\nconst now = new Date().toISOString();\n\n// Tautulli wraps response in response.data\nlet libraries = [];\nif (input && input.response && input.response.data) {\n  libraries = input.response.data;\n} else if (Array.isArray(input)) {\n  libraries = input;\n} else {\n  // Return empty record instead of error to avoid breaking insert\n  return [{ json: { source: 'plex', media_type: 'unknown', library_name: 'No Libraries Found', item_count: 0, total_size_bytes: null, recorded_at: now, inserted_at: now, metadata: '{}' } }];\n}\n\nif (!libraries || libraries.length === 0) {\n  return [{ json: { source: 'plex', media_type: 'unknown', library_name: 'No Libraries Found', item_count: 0, total_size_bytes: null, recorded_at: now, inserted_at: now, metadata: '{}' } }];\n}\n\nconst records = libraries.map(lib => {\n  let mediaType = lib.section_type || 'unknown';\n  if (mediaType === 'show') mediaType = 'tv_show';\n  \n  return {\n    json: {\n      source: 'plex',\n      media_type: mediaType,\n      library_name: lib.section_name || 'Unknown Library',\n      item_count: parseInt(lib.count) || 0,\n      total_size_bytes: null,\n      recorded_at: now,\n      inserted_at: now,\n      metadata: JSON.stringify({\n        section_id: lib.section_id,\n        section_type: lib.section_type,\n        parent_count: lib.parent_count,\n        child_count: lib.child_count,\n        is_active: lib.is_active\n      })\n    }\n  };\n});\n\nreturn records;"
      },
      "id": "transform-plex",
      "name": "Transform Plex Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process Sonarr series data into library summary\n// n8n splits array responses into separate items, so use $input.all()\nconst allItems = $input.all();\nconst now = new Date().toISOString();\n\nif (!allItems || allItems.length === 0) {\n  return [{ json: { source: 'sonarr', media_type: 'tv_show', library_name: 'Sonarr Library', item_count: 0, total_size_bytes: 0, recorded_at: now, inserted_at: now, metadata: '{}' } }];\n}\n\n// Calculate totals from all items\nlet totalSeries = allItems.length;\nlet totalEpisodes = 0;\nlet totalSizeBytes = 0;\nlet monitoredCount = 0;\n\nallItems.forEach(item => {\n  const show = item.json;\n  totalEpisodes += show.episodeCount || 0;\n  totalSizeBytes += show.sizeOnDisk || 0;\n  if (show.monitored) monitoredCount++;\n});\n\nreturn [{\n  json: {\n    source: 'sonarr',\n    media_type: 'tv_show',\n    library_name: 'Sonarr Library',\n    item_count: totalSeries,\n    total_size_bytes: totalSizeBytes,\n    recorded_at: now,\n    inserted_at: now,\n    metadata: JSON.stringify({\n      total_episodes: totalEpisodes,\n      monitored_series: monitoredCount,\n      unmonitored_series: totalSeries - monitoredCount\n    })\n  }\n}];"
      },
      "id": "transform-sonarr",
      "name": "Transform Sonarr Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "jsCode": "// Process Radarr movie data into library summary\n// n8n splits array responses into separate items, so use $input.all()\nconst allItems = $input.all();\nconst now = new Date().toISOString();\n\nif (!allItems || allItems.length === 0) {\n  return [{ json: { source: 'radarr', media_type: 'movie', library_name: 'Radarr Library', item_count: 0, total_size_bytes: 0, recorded_at: now, inserted_at: now, metadata: '{}' } }];\n}\n\n// Calculate totals from all items\nlet totalMovies = allItems.length;\nlet totalSizeBytes = 0;\nlet monitoredCount = 0;\nlet downloadedCount = 0;\n\nallItems.forEach(item => {\n  const movie = item.json;\n  totalSizeBytes += movie.sizeOnDisk || 0;\n  if (movie.monitored) monitoredCount++;\n  if (movie.hasFile) downloadedCount++;\n});\n\nreturn [{\n  json: {\n    source: 'radarr',\n    media_type: 'movie',\n    library_name: 'Radarr Library',\n    item_count: totalMovies,\n    total_size_bytes: totalSizeBytes,\n    recorded_at: now,\n    inserted_at: now,\n    metadata: JSON.stringify({\n      downloaded_movies: downloadedCount,\n      missing_movies: totalMovies - downloadedCount,\n      monitored_movies: monitoredCount,\n      unmonitored_movies: totalMovies - monitoredCount\n    })\n  }\n}];"
      },
      "id": "transform-radarr",
      "name": "Transform Radarr Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 600]
    },
    {
      "parameters": {
        "jsCode": "// Process Prowlarr indexer data\n// n8n splits array responses into separate items, so use $input.all()\nconst allItems = $input.all();\nconst now = new Date().toISOString();\n\nif (!allItems || allItems.length === 0) {\n  return [{ json: { source: 'prowlarr', media_type: 'indexer', library_name: 'Prowlarr Indexers', item_count: 0, total_size_bytes: null, recorded_at: now, inserted_at: now, metadata: '{}' } }];\n}\n\n// Calculate totals from all items\nlet totalIndexers = allItems.length;\nlet enabledCount = 0;\nlet publicCount = 0;\nlet privateCount = 0;\nconst indexerNames = [];\n\nallItems.forEach(item => {\n  const indexer = item.json;\n  if (indexer.enable) enabledCount++;\n  if (indexer.privacy === 'public') publicCount++;\n  if (indexer.privacy === 'private') privateCount++;\n  indexerNames.push({\n    name: indexer.name,\n    protocol: indexer.protocol,\n    privacy: indexer.privacy,\n    enabled: indexer.enable\n  });\n});\n\nreturn [{\n  json: {\n    source: 'prowlarr',\n    media_type: 'indexer',\n    library_name: 'Prowlarr Indexers',\n    item_count: totalIndexers,\n    total_size_bytes: null,\n    recorded_at: now,\n    inserted_at: now,\n    metadata: JSON.stringify({\n      enabled_indexers: enabledCount,\n      disabled_indexers: totalIndexers - enabledCount,\n      public_indexers: publicCount,\n      private_indexers: privateCount,\n      indexers: indexerNames\n    })\n  }\n}];"
      },
      "id": "transform-prowlarr",
      "name": "Transform Prowlarr Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 800]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "raw_media_library"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "media_type": "={{ $json.media_type }}",
            "library_name": "={{ $json.library_name }}",
            "item_count": "={{ $json.item_count }}",
            "total_size_bytes": "={{ $json.total_size_bytes }}",
            "recorded_at": "={{ $json.recorded_at }}",
            "inserted_at": "={{ $json.inserted_at }}",
            "metadata": "={{ $json.metadata }}"
          }
        },
        "options": {}
      },
      "id": "insert-plex-library",
      "name": "Insert Plex Library",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 200],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "raw_media_library"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "media_type": "={{ $json.media_type }}",
            "library_name": "={{ $json.library_name }}",
            "item_count": "={{ $json.item_count }}",
            "total_size_bytes": "={{ $json.total_size_bytes }}",
            "recorded_at": "={{ $json.recorded_at }}",
            "inserted_at": "={{ $json.inserted_at }}",
            "metadata": "={{ $json.metadata }}"
          }
        },
        "options": {}
      },
      "id": "insert-sonarr-library",
      "name": "Insert Sonarr Library",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 400],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "raw_media_library"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "media_type": "={{ $json.media_type }}",
            "library_name": "={{ $json.library_name }}",
            "item_count": "={{ $json.item_count }}",
            "total_size_bytes": "={{ $json.total_size_bytes }}",
            "recorded_at": "={{ $json.recorded_at }}",
            "inserted_at": "={{ $json.inserted_at }}",
            "metadata": "={{ $json.metadata }}"
          }
        },
        "options": {}
      },
      "id": "insert-radarr-library",
      "name": "Insert Radarr Library",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 600],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "raw_media_library"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "media_type": "={{ $json.media_type }}",
            "library_name": "={{ $json.library_name }}",
            "item_count": "={{ $json.item_count }}",
            "total_size_bytes": "={{ $json.total_size_bytes }}",
            "recorded_at": "={{ $json.recorded_at }}",
            "inserted_at": "={{ $json.inserted_at }}",
            "metadata": "={{ $json.metadata }}"
          }
        },
        "options": {}
      },
      "id": "insert-prowlarr-library",
      "name": "Insert Prowlarr Library",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 800],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "content": "## Media Library Data Collection\n\n### Setup Required:\n1. **Tautulli API Key**: Already set\n2. **Sonarr API Key**: Already set\n3. **Radarr API Key**: Already set\n4. **Prowlarr API Key**: Replace in 'Get Prowlarr Indexers' node\n5. **PostgreSQL Credential**: Select on all Insert nodes\n\n### Data Collected:\n- **Plex**: Library counts per section\n- **Sonarr**: Series, episodes, disk size\n- **Radarr**: Movies, downloaded/missing, disk size\n- **Prowlarr**: Indexer count, enabled/disabled\n\n### Schedule:\nRuns every 6 hours automatically",
        "height": 380,
        "width": 340
      },
      "id": "note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 920]
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Plex Libraries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sonarr Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Radarr Movies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Prowlarr Indexers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Plex Libraries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Sonarr Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Radarr Movies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Prowlarr Indexers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plex Libraries": {
      "main": [
        [
          {
            "node": "Transform Plex Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sonarr Series": {
      "main": [
        [
          {
            "node": "Transform Sonarr Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Radarr Movies": {
      "main": [
        [
          {
            "node": "Transform Radarr Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prowlarr Indexers": {
      "main": [
        [
          {
            "node": "Transform Prowlarr Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Plex Data": {
      "main": [
        [
          {
            "node": "Insert Plex Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Sonarr Data": {
      "main": [
        [
          {
            "node": "Insert Sonarr Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Radarr Data": {
      "main": [
        [
          {
            "node": "Insert Radarr Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Prowlarr Data": {
      "main": [
        [
          {
            "node": "Insert Prowlarr Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
