docker-projects/n8n/_legacy/plex_media_workflow.json
{
  "name": "Plex Media Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8181/api/v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_TAUTULLI_API_KEY"
            },
            {
              "name": "cmd",
              "value": "get_history"
            },
            {
              "name": "length",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-tautulli-history",
      "name": "Get Watch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8181/api/v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_TAUTULLI_API_KEY"
            },
            {
              "name": "cmd",
              "value": "get_libraries"
            }
          ]
        },
        "options": {}
      },
      "id": "get-tautulli-libraries",
      "name": "Get Libraries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "jsCode": "// Process Tautulli watch history for raw_media_activity table\nconst response = $input.first().json;\n\nif (!response || !response.response || !response.response.data || !response.response.data.data) {\n  return [{ json: { error: 'No watch history data found', raw: response } }];\n}\n\nconst historyItems = response.response.data.data;\nconst now = new Date().toISOString();\n\nconst records = historyItems.map(item => {\n  // Determine media type\n  let mediaType = item.media_type || 'unknown';\n  if (mediaType === 'episode') mediaType = 'tv_episode';\n  if (mediaType === 'movie') mediaType = 'movie';\n  \n  // Convert duration from seconds\n  const durationSeconds = item.duration || 0;\n  \n  // Convert watched_at timestamp (Tautulli uses Unix timestamps)\n  const watchedAt = item.stopped ? new Date(item.stopped * 1000).toISOString() : now;\n  \n  return {\n    json: {\n      source: 'plex',\n      user_name: item.user || item.friendly_name || 'unknown',\n      media_type: mediaType,\n      title: item.title || item.full_title || 'Unknown',\n      series_title: item.grandparent_title || item.parent_title || null,\n      duration_seconds: durationSeconds,\n      watched_at: watchedAt,\n      inserted_at: now,\n      metadata: JSON.stringify({\n        rating_key: item.rating_key,\n        parent_rating_key: item.parent_rating_key,\n        grandparent_rating_key: item.grandparent_rating_key,\n        year: item.year,\n        platform: item.platform,\n        player: item.player,\n        product: item.product,\n        ip_address: item.ip_address,\n        percent_complete: item.percent_complete,\n        watched_status: item.watched_status,\n        session_key: item.session_key\n      })\n    }\n  };\n});\n\nreturn records;"
      },
      "id": "transform-activity",
      "name": "Transform Activity Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process Tautulli library data for raw_media_library table\nconst response = $input.first().json;\n\nif (!response || !response.response || !response.response.data) {\n  return [{ json: { error: 'No library data found', raw: response } }];\n}\n\nconst libraries = response.response.data;\nconst now = new Date().toISOString();\n\nconst records = libraries.map(lib => {\n  // Determine media type from section_type\n  let mediaType = lib.section_type || 'unknown';\n  if (mediaType === 'show') mediaType = 'tv_show';\n  \n  return {\n    json: {\n      source: 'plex',\n      media_type: mediaType,\n      library_name: lib.section_name || 'Unknown Library',\n      item_count: parseInt(lib.count) || 0,\n      total_size_bytes: null,  // Tautulli doesn't provide this directly, will be updated separately if needed\n      recorded_at: now,\n      inserted_at: now,\n      metadata: JSON.stringify({\n        section_id: lib.section_id,\n        section_type: lib.section_type,\n        parent_count: lib.parent_count,\n        child_count: lib.child_count,\n        thumb: lib.thumb,\n        art: lib.art,\n        is_active: lib.is_active\n      })\n    }\n  };\n});\n\nreturn records;"
      },
      "id": "transform-library",
      "name": "Transform Library Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_media_activity (source, user_name, media_type, title, series_title, duration_seconds, watched_at, inserted_at, metadata)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9)\nON CONFLICT DO NOTHING",
        "options": {
          "queryParams": "={{ [$json.source, $json.user_name, $json.media_type, $json.title, $json.series_title, $json.duration_seconds, $json.watched_at, $json.inserted_at, $json.metadata] }}"
        }
      },
      "id": "insert-activity",
      "name": "Insert Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [950, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_media_library (source, media_type, library_name, item_count, total_size_bytes, recorded_at, inserted_at, metadata)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8)",
        "options": {
          "queryParams": "={{ [$json.source, $json.media_type, $json.library_name, $json.item_count, $json.total_size_bytes, $json.recorded_at, $json.inserted_at, $json.metadata] }}"
        }
      },
      "id": "insert-library",
      "name": "Insert Library",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [950, 500],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Home Metrics Postgres"
        }
      }
    },
    {
      "parameters": {
        "content": "## Plex Media Data Collection\n\n### Setup Required:\n1. **Tautulli API Key**: Replace `YOUR_TAUTULLI_API_KEY` in both HTTP nodes\n2. **PostgreSQL Credential**: Create a credential called \"Home Metrics Postgres\" with:\n   - Host: `host.docker.internal`\n   - Port: `5432`\n   - Database: `home_metrics`\n   - User: `metrics_user`\n   - Password: `CHANGE_ME_TO_SECURE_PASSWORD`\n\n### What this does:\n- **Watch History**: Pulls last 100 watched items from Tautulli\n- **Library Stats**: Gets current library counts\n- Runs automatically every 6 hours\n\n### Tables populated:\n- `raw_media_activity` - watch history\n- `raw_media_library` - library snapshots",
        "height": 420,
        "width": 340
      },
      "id": "note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 680]
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Watch History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Libraries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Watch History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Libraries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Watch History": {
      "main": [
        [
          {
            "node": "Transform Activity Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Libraries": {
      "main": [
        [
          {
            "node": "Transform Library Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Activity Data": {
      "main": [
        [
          {
            "node": "Insert Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Library Data": {
      "main": [
        [
          {
            "node": "Insert Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
